<% content_for :page_title,  "Blue plaque photos by " + @photographer %>

<div class="panel">
  <p><%= pluralize(@photos.size,"photo") %> taken by <%= link_to("photographer", "/photographers/") %> <%= @photographer %></p>

  <% @photos.each do |photo| %>
    <div style="float: left;">
      <%= link_to(thumbnail_img(photo), photo) %>
    </div>
  <% end %>
  <br style="clear: left;"/>
</div>
