<h1><%= pluralize @plaque_erected_year.plaques.size, "plaque" %> erected in <%= @plaque_erected_year.name %></h1>

<ul>
<% @plaque_erected_year.plaques.each do |plaque| %>
  <li><%= link_to "#" + plaque.id.to_s, plaque %>: <%= linked_inscription(plaque)%></li>
<% end %>
</ul>