<% @page_title = "Plaques erected in " + @plaque_erected_year.name %>
<div class="panel">
  <h1>Plaques erected in <%= @plaque_erected_year.name %></h1>

  <ul class="results">
  <% @plaque_erected_year.plaques.each do |plaque| %>
    <li>
      <p class="result">
        <%= link_to plaque.title, plaque %>
        <%= link_to(plaque.location.area.name, plaque.location.area, :class => :location) if plaque.location && plaque.location.area %>
      </p>
    </li>
  <% end %>
  </ul>
</div>