<% @page_title = "People who were born in " + @year.year.to_s  %>
<h1><%=pluralize(@people.size, "person") %> <a href="/people/born_on/">born in</a> <%= @year.year.to_s %></h1>

<ul>
<% @people.each do |person| %>
	<li><%= link_to dated_roled_person(person) %></li>
<% end %>
</ul>