<% content_for :page_title, "Contribute to Open Plaques" %>


<div class="panel clearfix">
  <h1>Contribute</h1>
</div>

<div class="panel clearfix">

  <p>Open Plaques is a community-run website. Our information about historical plaques found all around the world comes from people like you.
  We don&apos;t own it, we believe that our role is to curate it and then give the data back to the world for free. We are the museum of the street.
  </p>

  <p>What can you do to help? You could...</p>

  <ul id="homepage_modules">
  <li>
    <h3>Add a plaque</h3>
    <p>Anyone who has found a plaque, in real life or on the internet, that is not already in our database can <%= link_to "add it", new_plaque_path %>.
    In general, a plaque should link a subject to a place and time, for example "Winston Churchill went to school here in 1883" tells us what, where and when something happened.
    Even if you don&apos;t have all the details tell us as much as you can and a plaque hunter should eventually track it down....and no, it doesn&apos;t have to be blue.</p>
  </li>
  
  <li>
    <h3>Take a photo</h3>
    <p>We display multiple photos of each plaque, so you don&apos;t have to be the first. We like close-ups and also long-shots of the building that set the scene.</p>
    <p>We deliberately don&apos;t ask you to upload photos to our site. We connect to and add context to existing resources on the web instead of trying to own it.
    The photos that we show are published with a Creative Commons licence on web sites such as Flickr or Wikimedia.</p>

    <p>If you want to contribute your own photograph please:</p>
    <ul>
      <li>put it on Flickr</li>
      <li>give it a Creative Commons licence</li>
      <li>ensure that you haven&apos;t ticked the 'hidden from search' setting (see our <a href="http://blog.openplaques.org/2010/07/openplaques-org-has-an-official-flickr-machinetag/">Flickr instructions</a> blog post for more details)</li>
      <li>tag it with the machinetag displayed on the plaque page (which looks like <i>openplaques:id=100</i>)</li>
      <li>optionally add it to <a href="http://www.flickr.com/groups/openplaques/">our Flickr group</a></li>
      <li>wait for 24 hours and our servers should automatically find it and display it on our site</li>
    </ul>
    
    <p>If this all works out too complicated then you can email your photo to us stating that you are happy for us to put it on our own Flickr account on your behalf and that you grant anyone in the world the right to re-use the image.</p>
  </li>
  
  <li>
    <h3>Inform us of an error, omission or quirk</h3>
    <p>We take information and enhance it by researching on the web, talking to people and linking to photographs.</p>
  </li>
  
  <li>
    <h3>Tell us about your plaques</h3>
    <p>If you are a civic society, council, history group or any of the hundreds of groups or organisations who have erected plaques, please get
    in <%= link_to "contact", contact_path %> with us and we can add details of your plaques.</p>
  </li>
  
  <li>
    <h3>Talk to us</h3>
    <p>Things don&apos;t always work; there are many edge cases for whether a plaque should be included; or the system is just too confusing. 
    When in doubt, just <%= link_to "contact", contact_path %> us. One of our volunteers should be able to assist.</p>
  </li>
  
  <li>
    <h3>Use the data</h3>
    <p>All of our <%= link_to "data", about_the_data_path %> is Public Domain. It is free to use, and may be used for whatever purpose you so desire. We would love it if you could acknowledge Open Plaques and link back to us - however you are under no obligation to do so.</p>
  </li>

</div>