<% content_for :page_title, "Contribute to Open Plaques" %>


<div class="panel clearfix">
  <h1>Contribute</h1>
</div>

<div class="panel clearfix">

  <p>Open Plaques is a community-run website, and our information about historical plaques found all around the world comes from people like you.</p>

  <p>You can help by:</p>

  <ul>
    <li><%= link_to "Adding a plaque", new_plaque_path %> - if you've found one not already in our database</li>
    <li>Getting in <%= link_to "contact", contact_path %> with us if you've got information about a plaque scheme that we don't know about.</li>
  </ul>

</div>