<%= form_tag("/search", :method => "get", :class => "search_box") do %>
	<fieldset>
		<span id="magnifying_glass"></span>
		<div class="row">
			<%= label_tag(:search_module_phrase, "Search: ") %>
			<%= text_field_tag(:search_module_phrase, phrase) %>
		</div>
		<%= submit_tag("Go", :class => 'button', :name => nil) %>
		
	</fieldset>
<% end %>