<%= form_tag("/search", :method => "get", :class => "search_box") do %>
	<span id="magnifying_glass"></span>
	<%= label_tag(:phrase, "Search: ") %>
	<%= text_field_tag(:phrase, phrase) %>
	<%= submit_tag("Go", :name => nil) %>
<% end %>