/**
  OPEN PLAQUES v1 CORE STYLESHEET

  1. RESET
  2. CORE
    2.1 Development elements
  3. PLAQUE PAGE

*/

/**
  1. RESET
*/

* {
  margin: 0;
  padding: 0;
}

html { overflow-y: scroll; }

/**
  1.1 Development elements
*/

.development, .staging {
	background: #454A51;
	font-weight: bold;
	color: #FF0;
	padding-top: 10px;
	text-align: center;
}


/**
  2. CORE
*/


body {
  background: #BBB;
  font-family: "Baskerville", Georgia, serif;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a:link, a:visited {
  color: #4f7cbf;
}

a:hover {
  background: #4f7cbf;
  color: #FFF;
}

#content {
  background: #EEE;
/*  margin-top: 148px;*/
}

.container,
.flash_notice,
.flash_alert {
  margin: 0 auto;
  width: 80%;
}

#content .container {
  background: rgba(255,255,255,.6);
  border: solid 1px #DDD;
  border-radius: 16px;
}

html.no-rgba #content .container {background: #FFF;}

/**
  2.1 FLASH / ERRORS */

.flash_notice,
.flash_alert,
#error_explanation {
  margin: 0 auto 16px;
  text-align: center;
  padding: 16px 0;	
}

.flash_notice,
.flash_alert,
#error_explanation {
	background: rgba(255,0,0,.1);
	border: solid 1px #D00;
	border-radius: 8px;
}

#error_explanation h2 {
	color: #333;
	font-size: 16px;
	margin-bottom: 6px;
}

#error_explanation ul {
	list-style-type: none;
}

.flash_alert p,
#error_explanation li {
	color: #D00;
	font-size: 24px;
	font-weight: 600;
}

/**
	2.2 BUTTONS
*/

/* Global */
input.button, a.button {
	-moz-background-inline-policy: continuous;
	background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAJklEQVQI12P4//+/AxMDA8N/OMGAykUj/uEVI5P1jypG4XckugcBcz8yYZey+NoAAAAASUVORK5CYII=") repeat-x scroll 0 0 #4F7CBF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Baskerville", "Georgia", serif;
	font-size: 18px;
	font-weight: 600;
	outline: medium none;
	padding: 6px 14px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input.button:hover, a.button:hover {
	background-color: #454A51;
	border-color: #666;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-decoration: none;
}

input.button:active, a.button:active  {
	background-color: #000;
	top: 2px;
}

/* Secondary */

.secondary_button input, a.secondary_button {
	background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAJklEQVQI12P4//+/AxMDA8N/OMGAykUj/uEVI5P1jypG4XckugcBcz8yYZey+NoAAAAASUVORK5CYII=") repeat-x scroll 0 0 #EEE;
	text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25);
	color: #999;
	margin-left: 16px;
}

a.secondary_button:hover, div.secondary_button:hover input {
	background-color: #454A51;
	color: #FFF;
	text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25);
}




/**
  3. HOMEPAGE
*/

#homepage_content {
  float: left;
  width: 68%;
}

#homepage_content p.intro {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 16px;
}





/*

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
  background: -moz-linear-gradient(top, #FFF, #EEE);
*/


#recent_photographed_plaques {
  background: #EEE;
  border-radius: 16px; -moz-border-radius: 16px;

  float: right;
  list-style-type: none;
  overflow: hidden; _zoom: 1; /*Cleafix */
  width: 236px;
}

#recent_photographed_plaques li {
/*  float: left;*/
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 216px;
  /*margin-right: 10px;*/
}

#recent_photographed_plaques li.first {
  padding-top: 10px;
}


#recent_photographed_plaques li a {
  font-size: 0;
  display: block;
}

#recent_photographed_plaques li a {
  border: solid 8px #EEE;
  text-decoration: none;

}

#recent_photographed_plaques li.option_two a {
  position: relative;
}


#recent_photographed_plaques li a:hover {
  -moz-transition-duration: 0.3s;
  border: 8px solid #FFF;
  box-shadow: 0 0 10px #999;

}

#recent_photographed_plaques li a .info {
  padding: 8px 0;
}

#recent_photographed_plaques li.option_two a .info {
  position: absolute; bottom: 0;
  display: none;
}

#recent_photographed_plaques li a:hover .info {
  display: block;
}


#recent_photographed_plaques li a .info p {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#recent_photographed_plaques li.option_two a .info p {
  text-shadow: 1px 1px #333;
}


/***/

#homepage_modules {
  list-style-type: none;
  overflow: hidden; _zoom: 1;
}

#homepage_modules li {
  background: #EEE;
  border-radius: 16px; -moz-border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}




/**
  3. PLAQUE PAGE
*/

h1.inscription,
h1.large_inscription {
  text-align: center;
}

h1.large_inscription {
	font-size: 18px;
	line-height: 26px;
}

h1.inscription a,
h1.large_inscription a {
  text-decoration: none;
  border-bottom: dotted 1px;
}

#plaque_number {
  display: block;
  margin: 0 auto;
  color: #999;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

#plaque_number span {
  padding: 2px 0;
  border-top: solid 1px #EEE;
  border-bottom: solid 1px #EEE;
}

#plaque_number a {
  color: #999;
}

#plaque_number a:hover {
  color: #FFF;
}


.no_photo, .no_location {
  background: rgba(230,230,0,.1);
  border: solid 1px #ED0;
  border-left: solid 10px #ED0;
  border-radius: 8px; -moz-border-radius: 8px;
  padding: 8px 8px 8px 12px;
  margin-bottom: 16px;
}

.no_photo_geo {
  border: solid 1px #CCC;
  border-radius: 8px;
  padding: 8px;
}

.no_photo_geo img {
  padding: 6px;
  /* temp */ width: 235px;
}

/* Plaque - single image */

.plaque_image {
  float: left;
  width: 57%;  /* width: 516px;*/
}

.plaque_image a img {
  border: solid 10px #EEE;
  display: block;
}

.plaque_image a:hover {
  background-color: inherit;
}

.plaque_image a:hover img {
  border: solid 10px #FFF;
  box-shadow: 0 0 10px #999;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.plaque_single_image a {
  display: block;
  width: 100%;
}

.plaque_single_image a img {
  /*width: 480px;*/
  max-width: 100%; *width: 100%;
  -ms-interpolation-mode: bicubic;
}


/* Photo information */

#photo_information {
  margin: 8px 0;
}
#photo_information a {
  background-color: none;
  display: inline;
}
#photo_information a:hover {
  background-color: #4F7CBF;
  color: #FFF;
}

.photo_credit {float: left;}
.photo_licence {float: right;}

.photo_credit, .photo_licence {
  padding: 0 16px;
  font-size: 13px;
}

/****/

.plaque_multiple_images {
  position: relative;
}

.plaque_multiple_images #primary_image {
  display: block;
  margin-left: 120px;
  width: 360px;
}

.plaque_multiple_images #secondary_images {
  position: absolute; top: 10px; left: 0;
  width: 104px;
}

.plaque_multiple_images #secondary_images a {
  display: block;
  margin-bottom: 16px;
}

.plaque_multiple_images #secondary_images a:hover img {
  border: solid 4px #FFF;
  box-shadow: 0 0 10px #999;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.plaque_multiple_images #secondary_images img {
  border: solid 4px #EEE;
  width: 96px;
  height: 72px;
}


#plaque_no_photos {
  float: left;
  margin: 0;
  width: 60%; /* width: 516px; */
}

#plaque_identifier {
  float: right;
  margin: 0;
  width: 33%; /* width: 302px; */
}

#plaque_identifier section {
  margin: 0;
}

#plaque_identifier img,
#plaque_identifier iframe.osm {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 8px 0 0;
  max-width: 100%; *width: 100%;
  -ms-interpolation-mode: bicubic;
}

html.no-rgba #plaque_identifier img,
html.no-rgba #plaque_identifier iframe.osm {border: solid 1px #FFF;}

#plaque_identifier aside {
  margin-top: 20px;
}

#plaque_identifier aside h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

#plaque_identifier aside ul {
  list-style-type: none;
}
#plaque_identifier aside ul li {
  background: url('../images/bullet-blue.gif') no-repeat left 10px;
  padding-left: 16px;
}

#plaque_identifier aside ul li p {
  font-size: 13px;
  line-height: 20px;
}

#plaque_identifier .header {
  background: rgba(255,0,0,.5);
}


#plaque_identifier .header h1 {
  border-bottom: none;
  padding: 0;
  float: left;
  margin-right: 8px;
  /*text-align: center;*/
}

#plaque_identifier .header h1 a {
  color: #000;
  text-decoration: none;
  border-bottom: dotted 1px #999;
}

#plaque_identifier .header h1 a:hover {
  color: #FFF;
}

#plaque_identifier .header .like_button {
  float: left;
}

footer nav {
  padding-left: 106px;
}

footer nav a {
  margin-right: 1em;
}



/***/


.wikipedia_logo {}

/***/




header {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
  background: -moz-linear-gradient(top, #FFF, #EEE);
  border-top: solid 10px #454a51;
  display: block;
  padding: 16px 0;
/*  position: absolute; top: 0; height: 110px;*/
  width: 100%;
  position: relative;
}

header .container {
  min-height: 100px; _height: 100px;
  position: relative;
}

header .user_info {
  position: absolute; top: 0; right: 0;
}


/**
  SEARCH RESULTS
*/

#search_results {}

#search_results li .result {}
#search_results li .result a {}

#search_results li .snippet {}
#search_results li .snippet a {}

#search_results_footer {
  margin-bottom: 16px;
}

/*
  Search box
*/

.search_box {
  background: rgba(255,255,255,.5);
  border: solid 1px #DDD;
  border-radius: 8px; -moz-border-radius: 8px;
  padding: 8px 8px 8px 54px;
}

#search_controller .search_box {
  position: relative;
  width: 350px;
}

header .search_box,
#search_controller header .search_box {
  position: absolute; bottom: 15px; right: 0;
}

html.no-rgba .search_box {background: #FFF;}

.search_box:hover {
  background: #FFF;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.search_box label {
  position: absolute; left: -9999px;
}

.js .search_box #magnifying_glass {
  background: url('../images/icon_search.png') no-repeat scroll top left;
  position: absolute; top: -5px; left: 10px;
  width: 31px;
  height: 60px;
}

/* .js header .search_box #magnifying_glass:hover {
  opacity: 1;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
} */

.js .search_box input[type="submit"] {
  position: absolute; left: -9999px;
}

/*TODO: Add JS to give the text field focus */
/*TODO: Make this work responsively */


.search_box #phrase {
	background: transparent;
  border: none;
  color: #999;
  font-family: "Baskerville", serif;
  font-size: 18px;
  width: 18em;
}

.search_box #phrase:hover {
  color: #000;
}

/****/

.branding {
  float: left;
  position: absolute; top: 0; left: 0;
}

.branding img {
  border: none;
  display: block;
}

.branding a:hover img {
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -webkit-transition-duration: 0.3s;

}

.site_name {
  display: block;
  color: #454A51;
  font-size: 34px; /*40px*/
  text-shadow: 1px 1px 1px #CCC, -1px -1px 1px #FFF;
  text-transform: uppercase;
  padding-left: 116px;
  padding-top: 4px;
}


.site_name .small-caps {
  font-size: 27px; /*34px*/
}


nav {}

nav ul {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 116px;
}

nav ul li {
  float: left;
  margin-right: 8px;
}

nav ul li a:hover,
nav ul li span {
  border-radius: 8px; -moz-border-radius: 8px;
  background: none repeat scroll 0 0 #FFFFFF;
  color: #4F7CBF;
}

nav ul li a {
  color: #1D3861;
  text-decoration: none;
}

nav ul li a,
nav ul li span {
  font-size: 20px;
  padding: 8px;
  text-transform: uppercase;
}

nav ul li span {
  color: #333;
}


/******/

footer {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#BBB));
  background: -moz-linear-gradient(top, #EEE, #BBB);
  display: block;
  padding: 16px 0 125px;
}

footer nav {
  margin: 0 auto;
  width: 80%;
}


.panel {
  padding: 16px 5%;
  position: relative;
}

.panel h1 {
  /*float: left;*/
  border-bottom: solid 1px #CCC;
  font-weight: 600;
  padding: 0 0 8px;
}

.panel p {
  margin-bottom: 0;
}

.explore_by,
.sorted_by {
  float: right;
  margin: 8px 0 0 40px;
  text-align: right;
}

.explore_by .selected ,
.sorted_by .selected {
  font-weight: bold;
}

.sorted_by a,
.explore_by a {
  color: #4F7CBF;
}

.sorted_by a:hover,
.explore_by a:hover {
  background: #4F7CBF;
  color: #FFF;
}


nav.alphabet {
  clear: both;
  display: block;
  padding-top: 16px;
}

nav.alphabet ol {
/*  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;*/
  background: #EEE;
  -moz-border-radius: 10px; border-radius: 10px;
  list-style-type: none;
  text-align: center;
  padding: 12px 0;
}

nav.alphabet ol li {
  display: inline-block;
}

nav.alphabet ol li a,
nav.alphabet ol li span {
  color: #454a51;
  text-decoration: none;
  padding: 4px 6px;
}

nav.alphabet ol li span {
  cursor: default;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

nav.alphabet ol li a:hover,
nav.alphabet ol li span {
  background: #FFF;
  color: #4f7cbf;
  border-radius: 6px;
}

.body,
#organisation_info,
form.user_new,
form.new_plaque {
  padding: 0 5% 32px;
}

.body p,
#organisation_info p {
  margin-bottom: 16px;
}

form.new_plaque h2 {
  margin-bottom: 16px;
}



form fieldset {
  background: -moz-linear-gradient(top, rgba(0,0,0,.01), rgba(0,0,0,.0) 8%);
  background: -webkit-gradient(linear, 0 0, 0 8%, from(rgba(0,0,0,.01)), to(rgba(0,0,0,.0)));
  border: solid 1px #EEE;
  border-radius: 16px;
  box-shadow: 0px 0px 4px #FFF;
  margin-bottom: 16px;
  padding: 16px;
}
html.no-rgba form fieldset {background: #FFF;}



form.new_plaque .date_labels {
  overflow: hidden; _zoom: 1;
}

form.new_plaque .date_labels label {
  float: left;
  margin-right: 2.7em;
}

@media screen and (max-width: 1000px) {
  form.new_plaque .colour_options {
    -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
  }
}

/* 17%+ March */
@media screen and (min-width: 1000px) {
  form.new_plaque .colour_options {
    -moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
  }
}



form.new_plaque .colour_options span {
  display: block;
  float: left;
  margin-right: 5%;
  width: 25%;
}

form .row {
  margin-bottom: 16px;
}

form .row:last-child {
  margin-bottom: 0;
}

form .row input {
  font-size: 16px;
  font-family: "Baskerville", "Georgia";
  padding: 4px;
  width: 400px;
}

form .radio input,
form .checkbox input {
  width: auto;
}

form .row label {
  cursor: pointer;
  display: block;
  margin-bottom: 4px;
}

form.new_plaque .checkbox {
  margin-top: 16px;
}

form .radio label,
form .checkbox label {
  display: inline;
  padding: 0 8px;
}

form.new_plaque .row textarea {
  color: #CCC;
  font: 16px/16px "Baskerville", "Georgia";
  padding: 8px;
}

form.new_plaque .row textarea:focus {
  color: #333;
}

form.new_plaque .row select {
  font: 16px/16px "Baskerville", "Georgia";
  padding-right: 8px;
}

form.new_plaque .confirmation {
  margin-left: 120px;
}

.error_alert {
  background: rgba(255,0,0,.1);
  border-radius: 8px;
  color: #D00;
  margin: 16px 5%;
  border: solid 1px red;
  padding: 8px 16px;
}

#new_plaque .row .field_with_errors label {
  color: #D00;
}

#new_plaque .row .field_with_errors input {
  background: rgba(255,0,0,.1);
}

footer .about {
  margin-top: 2em;
  text-align: center;
  color: #999;
  font-size: .9em;
}


/*
  Autocomplete
*/

.ui-autocomplete {
  list-style-type: none;
  width: 300px;
}

.ui-autocomplete .ui-menu-item {
  background: rgba(255,255,255,.95);
  border-bottom: dotted 1px #CCC;
}

html.no-rgba .ui-autocomplete .ui-menu-item {background: #FFF;}

.ui-autocomplete .ui-menu-item a {
  display: block;
  font-size: 14px;
  color: #333;
  padding: 8px;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover {
  color: #FFF;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item a#ui-active-menuitem {
  background: #4F7CBF;
  text-shadow: 1px 1px #333;
}


/***/

/* TODO: Revamp this section */

.plaques.all li {list-style-type: none; margin-bottom: .5em;}
.plaques.all p a { display: block; text-decoration: none;}

table.plaque_list {}
table.plaque_list tr {}
table.plaque_list td {
  padding: 8px;
}
table.plaque_list td.photo {}
table.plaque_list td.geo {}

/***/

#people_results,
#places_results,
#organisations_results,
#search_results {
  padding: 0 5% 32px;
  list-style-type: none;
}

@media screen and (min-width: 850px) {
  #people_results,
  #places_results,
  #organisations_results {
    -moz-column-gap: 40px; -webkit-column-gap: 40px; column-gap: 40px;
    -moz-column-rule: solid 1px #EEE; -webkit-column-rule: solid 1px #EEE; column-rule: solid 1px #EEE;
  }
}

/* 45% March */
@media screen and (min-width: 850px) and (max-width: 1300px) {
  #people_results,
  #places_results,
  #organisations_results {
    -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
  }
}

/* 17% March */
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  #people_results,
  #places_results,
  #organisations_results {
    -moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
  }
}

/* 17%+ March */
@media screen and (min-width: 1500px) {
  #people_results,
  #places_results,
  #organisations_results {
    -moz-column-count: 4; -webkit-column-count: 4; column-count: 4;
  }
}

#people_results li,
#places_results li,
#organisations_results li,
#search_results li {
  background: url('../images/bullet-blue.gif') no-repeat left 10px;
  padding-left: 16px;
  padding-bottom: 16px;
}

#people_results li a,
#places_results li a,
#organisations_results li a {
  color: #000;
  text-decoration: none;
}

#people_results li a:hover,
#places_results li a:hover,
#organisations_results li a:hover {
  color: #FFF;
}

.results .count,
.results li a.location {
  color: #999;
  display: inline-block;
}

#people_results .count a {
  color: #999;
}

.results li a.role,
.results li a.attribute {
  border-bottom :dotted 1px #CCC;
}

.results li a:hover {
  background: #4f7cbf;
  color: #FFF;
}

.results strong {
  font-weight: normal;
}

.results span {
  text-transform: uppercase;
}


/*******/

.one_destination_results .count {
  display: block;
}

.one_destination_results li a {
  display: block;
}
.one_destination_results li a:hover {
  background: #EEE;
  border-radius: 8px;
  color: #000;
}

/*********/

.plaque_info_panel {
  background: #EEE;
  border-radius: 16px;
  padding: 16px;
  /*float: right;*/
}

.plaque_info_panel h1 {
  font-size: 16px;
}

.plaque_info_panel .photo a {
  display: block;
}

.plaque_info_panel .photo a img {
  border: solid 2px #666;
}

.section_details {
  width: 100%;
}

.section_details th {
  padding-right: 16px;
  width: 34%;
}

.section_details th,
.section_details td {
  border-bottom: dotted 1px #CCC;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

section {
/*  border: solid 1px #000;
  display: block;
  margin: 8px;*/
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* 3%+ March */
@media screen and (min-width: 400px) and (max-width: 700px) {

}

/* 15% March 1024x768 */
@media screen and (min-width: 700px) and (max-width: 1100px) {

}

/* 30% March 1280 x 800/1024 */
@media screen and (min-width: 1100px) and (max-width: 1300px) {

}

/* 17% March 1366x768 + 1440x900 */
@media screen and (min-width: 1300px) and (max-width: 1500px) {

}

/* 17%+ March 1600,1680,1920 */
@media screen and (min-width: 1500px) {

}