/**
	OPEN PLAQUES v1 CORE STYLESHEET

	0. TEMP DEVELOPMENT
	1. RESET
	2. CORE
		2.1 Development elements
	
*/

/**
	0. TEMP DEVELOPMENT
*/

.dev {
	background: rgba(255,0,0,.5);
}

/**
	1. RESET
*/

* {
	margin: 0;
	padding: 0;
}

html { overflow-y: scroll; }

/**
	2. CORE
*/


body {
	background: #BBB;
	font-family: "Baskerville", Georgia, serif;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

p {
	font-size: 16px;
	line-height: 24px;
}

a:link, a:visited {
	color: #4f7cbf;
}

a:hover {
	background: #4f7cbf;
	color: #FFF;
}

#content {
	background: #EEE;
/*	margin-top: 148px;*/
}


/**
	2.1 Development elements
*/

.development {
	background: rgba(255,255,0,.8);
	border: dashed 2px rgba(0,0,0,0.5);
	display: none; /*temporary for dev! */
	color: #000;
	font-weight: bold;
	padding: 8px;
	z-index: 10;
}

/***/

header {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
	background: -moz-linear-gradient(top, #FFF, #EEE);
	border-top: solid 10px #454a51;
	display: block;
	padding: 16px 0;
/*	position: absolute; top: 0; height: 110px;*/
	width: 100%;
	position: relative;
}

header .container {
	min-height: 100px; _height: 100px;
	position: relative;
}

header .user_info {
	position: absolute; top: 0; right: 0;
}

header .search_box {
	background: rgba(255,255,255,.5);
	border-radius: 8px; -moz-border-radius: 8px;
	position: absolute; bottom: 15px; right: 0;
	padding: 8px 8px 8px 54px;
}

header .search_box:hover {
	background: #FFF;
	-moz-transition-duration: 0.3s;	
	-webkit-transition-duration: 0.3s;	
}
	
header .search_box label {
	position: absolute; left: -9999px;
}

.js header .search_box #magnifying_glass {
	background: url('../images/icon_search.png') no-repeat scroll top left;
	position: absolute; top: -5px; left: 10px;
/*	opacity: 0.5; */
	width: 31px;
	height: 60px;
}

/* .js header .search_box #magnifying_glass:hover {
	opacity: 1;
	-moz-transition-duration: 0.3s;	
	-webkit-transition-duration: 0.3s;	
} */

.js header .search_box input[type="submit"] {
	position: absolute; left: -9999px;
}

/*TODO: Add JS to give the text field focus */


header .search_box #phrase {
	color: #999;
	font-family: "Baskerville";
	font-size: 18px;
	width: 260px;
}

header .search_box #phrase:hover {
	color: #000;
}


.branding {
	float: left;
	position: absolute; top: 0; left: 0;
}

.branding img {
	border: none;
	display: block;
}

.branding a:hover img {
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-webkit-transition-duration: 0.3s;
	
}

.site_name {
	display: block;
	color: #454A51;
	font-size: 34px; /*40px*/
	text-shadow: 1px 1px 1px #CCCCCC, -1px -1px 1px #FFFFFF;
	text-transform: uppercase;
	padding-left: 116px;
	padding-top: 4px;
}


.site_name .small-caps {
	font-size: 27px; /*34px*/
}


nav {}

nav ul {
	list-style-type: none;
	padding-top: 10px;
	padding-left: 116px;
}

nav ul li {
	float: left;
	margin-right: 8px;
}

nav ul li a:hover,
nav ul li span {
	border-radius: 8px; -moz-border-radius: 8px;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #4F7CBF;
}

nav ul li a {
	color: #1D3861;
	text-decoration: none;
}

nav ul li a,
nav ul li span {
	font-size: 20px;
	padding: 8px;
	text-transform: uppercase;
}

nav ul li span {
	color: #333;
} 



/******/


.container {
	margin: 0 auto;
	width: 80%;	
}


#content .container {
	background: rgba(255,255,255,.6);
	border-radius: 16px; -moz-border-radius: 16px;
	border-radius: 16px;

}

footer {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#BBB));
	background: -moz-linear-gradient(top, #EEE, #BBB);
	display: block;
	padding: 16px 0 125px;
}



.panel {
	padding: 16px 5%;
	position: relative;
}

.panel h1 {
	/*float: left;*/
	border-bottom: solid 1px #CCC;
	font-weight: 600;
	padding: 0 0 8px;
}

.panel p {
	margin-bottom: 0;
}

.explore_by, 
.sorted_by {
	float: right;
	margin: 8px 0 0 40px;
	text-align: right;
}

.explore_by .selected , 
.sorted_by .selected {
	font-weight: bold;
}

.sorted_by a, 
.explore_by a {
	color: #4F7CBF;
}

.sorted_by a:hover, 
.explore_by a:hover {
	background: #4F7CBF;
	color: #FFF;
}


nav.alphabet {
	clear: both;
	display: block;
	padding-top: 16px;
}

nav.alphabet ol {
/*	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;*/
	background: #EEE;
	-moz-border-radius: 10px; border-radius: 10px;	
	list-style-type: none;
	text-align: center;
	padding: 12px 0;
}

nav.alphabet ol li {
	display: inline-block;
}

nav.alphabet ol li a,
nav.alphabet ol li span {
	color: #454a51;
	text-decoration: none;
	padding: 4px 6px;
}

nav.alphabet ol li span {
	cursor: default;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

nav.alphabet ol li a:hover,
nav.alphabet ol li span {
	background: #FFF;
	color: #4f7cbf;
	border-radius: 6px;
}

#organisation_info,
form.new_plaque {
	padding: 0 5% 32px;
}

#organisation_info p {
	margin-bottom: 16px;	
}

form.new_plaque h2 {
	margin-bottom: 16px;
}
form.new_plaque fieldset {
	background: -moz-linear-gradient(top, rgba(0,0,0,.01), rgba(0,0,0,.0) 8%);  
	background: -webkit-gradient(linear, 0 0, 0 8%, from(rgba(0,0,0,.01)), to(rgba(0,0,0,.0)));
	border: solid 1px #EEE;
	border-radius: 16px;
	box-shadow: 0px 0px 4px #FFF;
	margin-bottom: 16px;
	padding: 16px;	
}

form.new_plaque .date_labels {
	overflow: hidden; _zoom: 1;
}

form.new_plaque .date_labels label {
	float: left;
	margin-right: 2.7em;
}

@media screen and (max-width: 1000px) {
	form.new_plaque .colour_options {
		-moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
	}
}

/* 17%+ March */
@media screen and (min-width: 1000px) { 
	form.new_plaque .colour_options {
		-moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
	}
}



form.new_plaque .colour_options span {
	display: block;
	float: left;
	margin-right: 5%;
	width: 25%;
}

form.new_plaque .row {
	margin-bottom: 16px;
}

form.new_plaque .row:last-child {
	margin-bottom: 0;
}

form.new_plaque .row input {
	font-size: 16px;
	font-family: "Baskerville", "Georgia";
	padding: 4px;
}

form.new_plaque .row label {
	cursor: pointer;
	display: block;
	margin-bottom: 4px;
}

form.new_plaque .radio label,
form.new_plaque .checkbox label {
	display: inline;
	padding: 0 8px;
}

form.new_plaque .row textarea {
	color: #CCC;
	font: 16px/16px "Baskerville", "Georgia";
	padding: 8px;
}

form.new_plaque .row textarea:focus {
	color: #333;
}

form.new_plaque .row select {
	font: 16px/16px "Baskerville", "Georgia";
	padding-right: 8px;
}

form.new_plaque .confirmation {
	margin-left: 120px;
}

/* TODO: Revamp this section */

table.plaque_list {}
table.plaque_list tr {}
table.plaque_list td {
	padding: 8px;
}
table.plaque_list td.photo {}
table.plaque_list td.geo {}

/***/

#people_results,
#places_results,
#organisations_results,
#search_results {
	padding: 0 5% 32px;
	list-style-type: none;
}

@media screen and (min-width: 850px) {
	#people_results,
	#places_results,
	#organisations_results {
		-moz-column-gap: 40px; -webkit-column-gap: 40px; column-gap: 40px;
		-moz-column-rule: solid 1px #EEE; -webkit-column-rule: solid 1px #EEE; column-rule: solid 1px #EEE;
	}
}

/* 45% March */
@media screen and (min-width: 850px) and (max-width: 1300px) { 
	#people_results,
	#places_results,
	#organisations_results {
		-moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
	}
}

/* 17% March */
@media screen and (min-width: 1300px) and (max-width: 1500px) {
	#people_results,
	#places_results,
	#organisations_results {
		-moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
	}
}

/* 17%+ March */
@media screen and (min-width: 1500px) { 
	#people_results,
	#places_results,
	#organisations_results {
		-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;
	}
}

#people_results li,
#places_results li,
#organisations_results li {
	background: url('../images/bullet-blue.gif') no-repeat left 10px;
	padding-left: 16px;
	padding-bottom: 16px;
}

#people_results li a,
#places_results li a,
#organisations_results li a {
	color: #000;
	text-decoration: none;
}

.results .count,
.results li a.location {
	color: #999;
	display: inline-block;
}

.results li a.role,
.results li a.attribute {
	border-bottom :dotted 1px #CCC;
}

.results li a:hover {
	background: #4f7cbf;
	color: #FFF;
}

.results strong {
	font-weight: normal;
}

.results span {
	text-transform: uppercase;
}


/*******/

.one_destination_results .count {
	display: block;
}

.one_destination_results li a {
	display: block;
}
.one_destination_results li a:hover {
	background: #EEE;
	border-radius: 8px;
	color: #000;
}

/*********/

.plaque_info_panel {
	background: #EEE;
	border: solid 1px #CCC;
	border-radius: 16px;
	padding: 16px;
	/*float: right;*/
	
}

.plaque_info_panel h1 {
	font-size: 16px;
}

.plaque_info_panel .photo a {
	display: block;
}

.plaque_info_panel .photo a img {
	border: solid 2px #666;
}

.plaque_details {
	width: 100%;
}

.plaque_details th,
.photo_details th {
	padding-right: 16px;
	width: 34%;
}

.plaque_details th,
.plaque_details td,
.photo_details th,
.photo_details td {
	border-top: dotted 1px #CCC;
	font-style: italic;
	font-weight: normal;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
}

.visuallyhidden {
	position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

section {
	border: solid 1px #000;
	display: block;
	margin: 8px;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* 3%+ March */
@media screen and (min-width: 400px) and (max-width: 700px) { 

}

/* 15% March 1024x768 */
@media screen and (min-width: 700px) and (max-width: 1100px) { 

}

/* 30% March 1280 x 800/1024 */
@media screen and (min-width: 1100px) and (max-width: 1300px) { 

}

/* 17% March 1366x768 + 1440x900 */
@media screen and (min-width: 1300px) and (max-width: 1500px) { 

}

/* 17%+ March 1600,1680,1920 */
@media screen and (min-width: 1500px) { 

}