<% content_for :page_title, "Historical plaques - by language" %>
<div class="panel">
  <% if current_user && current_user.is_admin? %>
    <section class="admin_panel">
      <%= link_to("Add new language", new_language_path, {:class => :edit, :title => "Add new language"})%>
    </section>
  <% end %>

  <h1>Languages</h1>

  <% if @languages.size > 0 %>
    <%= content_tag("ul") do %>
      <% @languages.each do |language| %>
        <li><%= language %> - <%= pluralize(language.plaques.size, "plaque") %></li>
      <% end %>
    <% end %>
  <% end %>
</div>