<% content_for :page_title, "Plaques in " + @language.name %>
<div class="panel clearfix">
  <h1>Plaques in <%= @language.name %></h1>
</div>

<div class="panel">
  <ul>
    <% @plaques.each do |plaque| %>
      <li><%= link_to truncate(plaque.inscription, :length => 100), plaque %></li>
    <% end %>
  </ul>
</div>
