<h1><%= @language.name %></h1>

<% if @language.plaques.size > 0 %>
  <p>There <%= pluralize_is_or_are(@language.plaques.size, "plaque") %> in this language.</p>

  <% if @language.plaques %>
    <%= render :partial => 'plaques/map.html.erb' %>
  <% end %>
<% end %>