<% content_for :page_title, "Users" %>

<div class="panel clearfix">
  <h1><%= @users.count %> Users</h1>

  <ul>
    <% @users.each do |user|%>
      <li>
        <%= user.username %>
        <%#= link_to(user.name, user_path(user))  %>
        (<%= user.name %>)
        - added <%= pluralize(user.plaques.size, "plaque") %>
      </li>
    <% end %>
  </ul>
</div>
