<% content_for :page_title, "Page Not Found" %>

<div class="panel clearfix">
  <h1>Page Not Found</h1>

  <p>The page you are looking for cannot be found. You may have followed a bad link, or mis-typed a URL.</p>
</div>