<aside>
  <h2>Contributor details</h2>
  <ul>
    <li><p>Inscription added by <a href="#">Simon Harriyott</a></p></li>
    <li><p>Photographs added by <a href="#">Simon Harriyott</a>, <a href="#">Frankie Roberto</a> &amp; <a href="#">myf</a></p></li>
    <li><p>Further edits contributed from <a href="#">Jez Nicholson</a></p></li>
  </ul>
</aside>