<div class="panel clearfix">
  <% if !@plaque.main_photo %>
    <section id="plaque_no_photos">
      <div class="no_photo">
        <h2>No photograph</h2>
        <p>We don't have any photos of <%= @plaque.machine_tag %> yet.</p>
      </div>
    </section>
  <% elsif @plaque.photos.size < 2 %>
    <div class="plaque_image plaque_single_image">
      <%= image_tag(@plaque.main_photo.file_url) %>
    </div>
  <% else %>
    <div class="plaque_image plaque_multiple_images">
      <% first_photo = @plaque.main_photo %>
      <%= link_to(image_tag(first_photo.file_url, {:id => "primary_image", :alt => "Photo of plaque", :rel => "foaf:depiction"}), first_photo.url) %>
      <div id="secondary_images">
        <% @plaque.photos.detail_order.each do |image| %>
          <%= link_to(image_tag(image.file_url, {:alt => "Photo of plaque", :rel => "foaf:depiction"}), image.url) unless image == first_photo %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
