<% content_for :page_title, "Historical plaques - recently added" %>

<div class="panel">
<h1>Plaques</h1>

<% if @plaques.size > 0 %>

  <p>Recently added plaques:</p>
  
  <%= plaque_list(@plaques) %>

<% else %>
  <%= content_tag("p", "No plaques yet.")%>
<% end %>
</div>