<% @page_title = "Map of plaques within [" + @top_left[0].to_s + "," + @top_left[1].to_s + "]-[" + @bottom_right[0].to_s + "," + @bottom_right[1].to_s + "]" %>

    <h1><%= @page_title %></h1>

    <%= render :partial => 'plaques/map.html.erb' %>

    <%= plaque_list(@plaques) %>


