<% content_for :page_title do %>Map of plaques<% end %>
<script>
  showAll = true;
</script>

<div class="panel clearfix">
  <h1>Map of all plaques</h1>

  <div id="plaque-map" data-latitude="51.01" data-longitude="0" class="full" data-zoom="8"></div>

</div>




