<% @template_format = "html" %>
<% @page_title = "Map of plaques"
@page_title += " within [" + @top_left[0].to_s + "," + @top_left[1].to_s + "]-[" + @bottom_right[0].to_s + "," + @bottom_right[1].to_s + "]" if @top_left %>
<% content_for :page_title, @page_title %>

<h1><%= @page_title %></h1>

<%= render 'plaques/map' %>


