<% content_for :page_title, "Historical plaques - full list" %>

<div class="panel">
  <h1><%= "All" if @plaques.size > 1 %> <%= pluralize(@plaques.size, "plaque")%></h1>

  <% if @plaques.size > 0 %>
  <ul class="plaques all">
    <% @plaques.each do |plaque| %>
      <li><p><%= link_to plaque.inscription, plaque %></p></li>
    <% end %>
  </ul>
  <% else %>
    <%= content_tag("p", "No plaques yet.")%>
  <% end %>
</div>