<% content_for :page_title, "Plaque picks" %>

<%= content_tag(:section, link_to("Add a new pick", new_pick_path, {:class => :edit, :title => "Add a new pick"}), :class => :admin_panel) %>

<div class="panel">
  <h1>Plaque Picks</h1>
  <h2>Today's pick</h2>
  <%= render Pick.todays %>
  <h2>Other picks</h2>
  <%= render partial: 'picks/minimal', collection: @picks, as: :pick %>
  <div style="clear: both;"/>
</div>
<div class="clearfix"/>