<% content_for :page_title, "plaque pick " + @pick.id.to_s %>

<%= content_tag(:section, link_to("Edit this pick", edit_pick_path(@pick), {:class => :edit, :title => "Edit this pick"}), :class => :admin_panel) if current_user && current_user.is_admin? %>

<div class="panel">
  <%= render @pick %>
</div>