<div class="panel clearfix">
	<h1>Roles</h1>
	<%= render :partial => "index_navigation" %>
</div>

<p class="alternate_formats">Data about roles as <%= alternate_link_to "XML", roles_path(:xml), :xml %> <%= alternate_link_to "JSON", roles_path(:json), :json %></p>
