<% content_for :page_title, "Historical plaques - by colour" %>
<div class="panel">
  <h1>Plaques - by colour</h1>

<ul>
<% for colour in @colours %>
  <li><%= link_to_colour(colour) %> - <%= pluralize(colour.plaques.size, "plaque")%></li>
<% end %>
</ul>

<%= content_tag("p", link_to("Add new colour", new_colour_path)) if current_user && current_user.is_admin %>
</div>
