<% content_for :page_title, "To do: locations not in an area" %>

<div class="panel">
  <h1><%= @locations.size.to_s %> locations not in an area</h1>
  <section class="admin_panel"><%= link_to("All to-do lists", "/todo") %></section>
  <% if @locations.size > 0 %>
    <ul>
      <% @locations.each do |location| %>
      <li><%= link_to(location.name, "/locations/" + location.id.to_s + "/edit") %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Every location has an area. Bravo!</p>
  <% end %>
</div>
