<% content_for :page_title, "To do: colours from photos" %>

<div class="panel">
  <h1>Plaques with photos but no colour identified</h1>
  <section class="admin_panel"><%= link_to("All to-do lists", "/todo") %></section>
  <% if @plaques.size > 0 %>
    <%= will_paginate @plaques %>
    <%= list @plaques, :colours_from_photos %>
    <%= will_paginate @plaques %>
  <% else %>
    <p>Every plaque with a photo has a colour attribute assigned. Bravo!</p>
  <% end %>
</div>