<% content_for :page_title, "To do: plaques with no description" %>

<div class="panel">

  <h1>To do: Plaques with no description</h1>
  <p><%= link_to("All to-do lists", "/todo") %></p>
  <p>These plaques have no descriptions added (first 100 shown only):</p>
  <ul>
    <% @plaques.each do |plaque| %>
    <li><%= link_to(plaque.title, edit_plaque_description_path(plaque))  %> <%= truncate(plaque.inscription, :length => 80) %></li>
    <% end %>
  </ul>
  <p class="clear"><%= link_to("All to-do lists", "/todo") %></p>
</div>