<h1>To do: Plaques with no connections</h1>
<p><%= link_to("All to-do lists", "/todo") %></p>

<% if @plaques.size > 0 %>
  <p>These plaques have no connections:</p>
  <ul>
    <% @plaques.each do |plaque| %>
    <li><%= link_to "Plaque #".html_safe + plaque.id.to_s, plaque %> <%= link_to "Add connection", new_plaque_connection_path(plaque) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There aren't any plaques with no connections...</p>
<% end %>
<p class="clear"><%= link_to("All to-do lists", "/todo") %></p>