<% content_for :page_title, "Verbs" %>

<div class="panel">
  <h1>Verbs</h1>
  <ul>
    <% @verbs.each do |verb| %>
    <li><%= pluralize verb.personal_connections.count, 'person' %> <%= link_to(verb.name, verb_path(verb))%></li>
    <% end %>
  </ul>
</div>

<p class="alternate_formats">Data about verbs as <%= alternate_link_to "XML", verbs_path(:xml), :xml %> <%= alternate_link_to "JSON", verbs_path(:json), :json %></p>