<div class="plaque_info_panel">
  <div class="tile">
    <%= content_tag("span", link_to(series.name, series_path(series)), :class=>'name') %>
    <%= content_tag("span", series.description, :class=>'description') %>
  </div>
  <br/>
  <%= render partial: 'plaques/tile', collection: series.plaques.photographed.limit(10), as: :plaque %>
</div>
<br style="clear: both;"/>