<% content_for :page_title, "Historical plaques - by series" %>
<div class="panel">
  <h1>Plaque series</h1>

  <p>Plaques are issued by numerous organisations, and sometimes they are also part of a special set or series.
	We endeavour to identify the series and also the series identifier</p>
	<p>Series so far are:</p>
    <%= render @series %>

  <%= button_to("New series", new_series_path, {:method => :get, :class => :button}) if current_user %>
</div>