<% content_for :page_title, "Historical plaques - by location" %>

<div class="panel">
<h1>Locations</h1>

<%= content_tag("ul") do %>
  <% @locations.each do |location| %>
    <%= content_tag("li") do %>
      <%= link_to( location.name, location) %><% if location.area %>, <%= link_to location.area.name, location.area %><% end %>
    <% end %>
  <% end %>
<% end %>
</div>